* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
}

#main {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

#heading {
    text-align: center;
}

#subheading {
    text-align: center;
}

.content > h2 {
    text-align: center;
    margin-top: 50px;
}

.content > p {
    margin-left: 10px;
    margin-right: 10px;
}

.content > h5 {
    margin-left: 10px;
    margin-right: 10px;
}

#graf {
    height: 75vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bigbutton {
    width: 90vw;
    height: 15vh;
    margin-bottom: 20px;
}

.bigbutton:first-child {
    margin-top: 20px;
}

.back {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 10px;
}

#next {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: 100vh;
    background: white;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 500) {
    #graf {
            width: 75vw;
            height: auto;
    }
}
